@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.navbar-links{
    list-style: none;
    display: flex;
    gap: 100px;
}

.Hero{
    height:400px;
    background-image:url(https://images.stockcake.com/public/1/1/c/11cf514e-5afa-475b-ac41-122b94f79a6c_large/misty-tea-plantation-stockcake.jpg);
    width: 400cqmax;
 
    
}